#result {
	margin-top: 1em;
	width: 71em;
	height: 47em;
	border: 0.1em solid #DEDED0;
	font-size: 0.9em;
}
#sendquery {
	margin-top: 1em;
	width: 71em;
	height: 2.3em;
	border: 0.1em solid #DEDED0;
	font-size: 0.9em;
}